:root{
    --color: red;
    --bg: #000;
}
*{
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 10px;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding-top: 60px;
    padding-bottom: 100px;
}
.row{
    display: flex;
    gap:16px
}
.row .col {
flex: 1;
}
.section-title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title::after,
.section-title::before{
    content: "";
    width: 50px;
    height: 3px;
    background: var(--color);
    border-radius: 8px;
    margin: 0 10px;
}
/*header*/
.header{
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    font-size: 35px;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    display: flex;

}
.logo img{
    margin-right: 10px;
}
.logo span{
    color: var(--color);
    margin-right: 5px;
}

.menu{
    height: 100%;
}
.menu__list{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__el{}
.menu__link{
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
}
.menu__link:hover{
background: rgba(255, 255, 255, 0.2);
}

/*hero*/
.hero{
    background-image: url(../images/image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
}
.hero__title{
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    z-index: 1;
    position: relative;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    margin: 20px 0;
}
.hero__text{
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    max-width: 980px;
    text-align: center;
    line-height: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;

}
.hero__buttons{
    position: relative;
    z-index: 1;
}
.hero__btn{
    width: 220px;
    height: 66px;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.hero__btn-share{
    background: var(--color);
    color: #fff;
}
.hero__btn-key{
    background: #fff;
    color: var(--color);
}
.hero__arrow{
    height: 55px;
    width: 55px;
    background-color: var(--color);
    background-image: url(../images/icon-arrow-down.svg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
/*art*/
.art{}
.art__image{
    max-width: 100%;
    height: auto;
}
.art__title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color: rgb(106,106,106);
    font-weight: normal;
    text-transform: uppercase;
}
.art__text{
    line-height: 1.5em;
    font-size: 14px;
    color: rgb(106, 106, 106);
    margin-bottom: 20px;
}
.art__btn{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background: var(--color);
    color: #fff;
    padding: 14px 25px;
    border-radius: 30px;
    font-weight: bold;
    display: inline-flex;
    text-decoration: none;
}
/*service*/
.section-service{
    background: var(--bg);
    color: #fff;
}
.section-service-container{}
.service__image{
    max-width: 100%;
    width: 170px;
    height: 170px;
}
.service__title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}
.service__text{
    line-height: 1.5em;
    font-size: 14px;
    color: #B2B2B2;
    margin-bottom: 20px;
}
.service__btn{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background: var(--color);
    color: #fff;
    padding: 14px 25px;
    border-radius: 30px;
    font-weight: bold;
    display: inline-flex;
    text-decoration: none;
}
/*contact*/

